<html>
    <%- partial('_partial/head') %>
    <body>
        <%- partial('_partial/menu') %>
        <div class="container">
            <%- partial('_partial/header') %>
        </div>
        <%- partial('_partial/after-footer') %> 
    </body>
</html>